@using MvcApplication1.Models
@using MvcApplication1.Objects

@{
    PaletteModel palette = (PaletteModel)ViewData["palette"];

    ViewBag.Title = "Замеры окон перед установкой рулонных штор";
    ViewBag.MetaKeywords = "замер окон рулонная штора на створка пластиковое окно";
    ViewBag.MetaDescription = "замеры окон перед установкой рулонных штор на пластиковые окна";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<script src="/Scripts/measurement.js" type="text/javascript"></script>

<div class="mainPageB">
    
    <div class="textfield">

        <p style="margin:25px 0 25px 0;">
            @ConstructorHtmlHelpers.Service()
        </p>
        
        <div class="header" style="text-align:center;">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="subheader" style="margin-left: 90px;">
            @*<a href="?t=lux">для Lux</a> | <span class="current_subheader">для Eco</span> | <a href="?t=compact">для Compact</a> (<a class="f1" href="/Systems">в чем отличия систем?</a>)*@
        </div>

        <p>
            <strong>Замер системы с коробом и направляющими (Eco) достаточно прост</strong>. Для замера потребуется рулетка. Различия в замерах определяются в основном формой оконного штапика. 
            Штапик - это узкая рейка, служащая для укрепления стекол в раме и декоративной окантовки. На картинках внизу он обозначен оранжевым цветом:
        </p>
		    
        <div class="triptych">
            <div style="width: 33%;">
                <a href="/Content/Images/Illustrations/1-1.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/1-1.jpg" alt="круглый штапик" height="300" />
                    <p>круглый штапик</p>
                </a>
            </div>
			<div style="width: 33%;">
                <a href="/Content/Images/Illustrations/2-1.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/2-1.jpg" alt="фигурный штапик" height="300" />
                    <p>фигурный штапик</p>
                </a>
            </div>
			<div style="width: 33%;">
                <a href="/Content/Images/Illustrations/3-1.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/3-1.jpg" alt="прямой штапик" height="300" />
                    <p>прямой штапик</p>
                </a>
            </div>
        </div>

        <p>
            Элементы системы (короб и боковые направляющие) могут быть закреплены только на поверхностях окна, параллельных плоскости стекла. 
            Необходимо измерить ширину от угла левого штапика до угла правого и высоту от угла верхнего штапика до угла нижнего. Угол штапика показан ниже:
        </p>
        <div class="triptych">
            <div style="width: 33%;">
                <a href="/Content/Images/Illustrations/1-2.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/1-2.jpg" alt="круглый штапик" height="300" />
                    <p>нет угла, замер производится от края штапика</p>
                </a>
            </div>
			<div style="width: 33%;">
                <a href="/Content/Images/Illustrations/2-2.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/2-2.jpg" alt="фигурный штапик" height="300" />
                    <p>угол фигурного штапика</p>
                </a>
            </div>
			<div style="width: 33%;">
                <a href="/Content/Images/Illustrations/3-2.jpg" target="_blank">
                    <img src="/Content/Images/Illustrations/3-2.jpg" alt="прямой штапик" height="300" />
                    <p>угол прямого штапика, самый распространенный вариант</p>
                </a>
            </div>
        </div>

        <p>&nbsp;</p>
        <a name="measurements"></a>
        <a name="width"></a>
        <p class="width measurements">
            <strong>Ширина</strong> шторы должна быть от 200 мм до 2000 мм. Минимальная ширина ограничена конструкцией механической части, 
            максимальная - допустимой нагрузкой на трубу, на которую наматывается ткань.
        </p>
        <a name="height"></a>
        <p class="height measurements">
            <strong>Максимальная высота</strong> шторы зависит от толщины ткани, так как в свернутом состоянии весь рулон должен поместиться под коробом. 
            В карточке каждой ткани, например <a href="/Palette/Cloth/@palette.SelectedCloth.Id">@(palette.SelectedCloth.Name)&nbsp;@(palette.SelectedCloth.SubName)</a>, указана максимальная допустимая высота.
        </p>
        <p>
            <strong>Необходимо убедиться</strong>, что расположению элементов системы не будут мешать откосы окна, а также части оконной фурнитуры - ручки, датчики сигнализаций,
            наклейки c логотипом производителя и т.п. Вот пара случаев монтажа с учетом "мешающих" элементов:
        </p>
        <p>
            1. Расстояние от ручки до угла штапика составляет 14 мм, ширина направляющей 19 мм. Мы сместили направляющую на 5 мм за границу определяемую углом штапика, то есть уменьшили ширину шторы на эти 5 мм. 
            Это никак не отразилось на функциональности и внешнем виде.
        </p>
        <div class="triptych">
            <div style="width: 50%;">
                <img src="/Content/Images/Illustrations/I1.jpg"/>
            </div>
            <div style="width: 50%;">
                <img src="/Content/Images/Illustrations/I2.jpg"/>
            </div>
        </div>
        <p>
            2. Откосы скрывают сверху большую часть рамы, так что свободного пространства не хватает для монтажа короба (высота короба 70 мм). Уменьшив высоту шторы на 40 мм, мы получили возможность сместить короб на 40 мм вниз.
        </p>
        <div class="triptych">
            <div style="width: 100%;">
                <img src="/Content/Images/Illustrations/II.jpg"/>
                <p>чтобы показать разницу высоты,<br/>короб снят и приложен снизу</p>
            </div>
        </div>

        <p>
            @ConstructorHtmlHelpers.Service()
        </p>
    </div>
</div>

<div class="sidebar">

    @ConstructorHtmlHelpers.VisitCard()

</div>

<div class="clear"></div>

